build
packages
_ReSharper.*/
*resharper.user
*.ReSharper
.idea/
[Bb]in/
[Oo]bj/
*.sln.cache
*.suo
*.sln.docstates
*.user
StyleCop.Cache
[Dd]ebug/
[Rr]elease/
src/CommonAssemblyInfo.cs
src/VersionAssemblyInfo.cs

build
temp
dist
